### <span id="idx">Index</span>

### <a href="#one" target="_self"> 1 </a>How to create a DataFrame in Pandas? <br />
<span style="padding-left:30px">a.<a href="#s1" target="_self">Using Lists</a>        <span ><br />
<span style="padding-left:50px">  <a href="#t1" target="_self">Task1</a>              <span ><br /> 
<span style="padding-left:30px">b.<a href="#s2" target="_self">Using Dictionaries</a><span ><br />
<span style="padding-left:50px">  <a href="#t2" target="_self">Task2</a>              <span ><br /> 
<span style="padding-left:30px">c.<a href="#s3" target="_self">Using Numpy array</a>  <span ><br />
<span style="padding-left:50px">  <a href="#t3" target="_self">Task3</a>              <span ><br /> 
<span style="padding-left:30px">d.<a href="#s4" target="_self">Read csv into DataFrame</a>  <span ><br />
<span style="padding-left:50px">  <a href="#t4" target="_self">Task4</a>              <span ><br />
<span style="padding-left:30px">e.<a href="#s5" target="_self">From SQLite Databases </a>  <span ><br />
<span style="padding-left:50px">  <a href="#t5" target="_self">Task5</a> <span ><br />     
<span style="padding-left:30px">f.<a href="#s6" target="_self">From a JSON File </a>  <span ><br />
<span style="padding-left:50px">  <a href="#t6" target="_self">Task6</a>              <span ><br /> 
<span style="padding-left:30px">g.<a href="#s7" target="_self">Combine series to form a DF </a>  <span ><br />
<span style="padding-left:50px">  <a href="#t7" target="_self">Task7</a>              <span ><br />       
    
### <a href="#two" target="_self"> 2 </a>How to iterate over Pandas Rows? <br />

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<a href='#t1' target="_self">Task1 </a> Create a dataframe with four favourite programming language of yours <br />

In [2]:
import os

<a href="#idx" target="_self" style="position:fixed">Index</a>

### <span id="one"> How to create a DataFrame in Pandas? </span>
<span id="s1"> 1. Data being used here to create a dataframe is in the form of a <b> list </b>.Â¶

In [3]:
data = [[1,2013,'ar00001','Thailand',157500],
       [2,2014,'ar00002','Russia',458226],
       [3,2012,'ar00003','South Korea',787954],
       [4,2010,'ar00004','India',456312],
       [5,2018,'ar00005','England',235485]]

In [4]:
type(data)

list

In [5]:
df = pd.DataFrame(data,columns=['SNO','Year','ID','Country','Sales'])

In [6]:
df.head()

   SNO  Year       ID      Country   Sales
0    1  2013  ar00001     Thailand  157500
1    2  2014  ar00002       Russia  458226
2    3  2012  ar00003  South Korea  787954
3    4  2010  ar00004        India  456312
4    5  2018  ar00005      England  235485

In [7]:
df.dtypes

SNO         int64
Year        int64
ID         object
Country    object
Sales       int64
dtype: object

#### <span style="color:red" id="t1">Task </span>
Create a dataframe with four favourite programming language of yours .

1st Column - Name of Progamming Lanuage(Name of PL) <br />
2nd Column - Frequency of usage(Frequency) Labels:(Less Frequent, Frequent, More-Frequent)  <br />
3rd Column - Skill Level(Labels: Beginner, Intermediate, Expert)  <br />
4th Column - Real-time exposure (Labels : Yes, No)  <br />

In [8]:
data=[['C','Less Frequent','Beginner','No'],
      ['Java','Frequent','Expert','Yes'],
      ['Python','Frequent','Intermediate','Yes'],
     ['R','Less Frequent','Beginner','No'],
     ]
languages = pd.DataFrame(data,columns=['PL','Usage','Level','Exposure'])
languages

       PL          Usage         Level Exposure
0       C  Less Frequent      Beginner       No
1    Java       Frequent        Expert      Yes
2  Python       Frequent  Intermediate      Yes
3       R  Less Frequent      Beginner       No

<a href="#idx" target="_self">Index </a>
### <span id="s2"> Creating a dataframe from Dictionary object by columns or by index allowing dtype specification </span>

In [9]:
dic = {'a':[1,2,7],'b':[3,4,6]}
df_dic = pd.DataFrame(dic)
df_dic

   a  b
0  1  3
1  2  4
2  7  6

#### <span style="color:red" id="t2">Task 2</span>
Create a dictionary called "accessories". Consider atleast 4-5 favourite accessories of yours and make them as key, while the cost of it as values. Upon creating the dictionary, map it to a dataframe.

In [10]:
price_dic = {'Name':['Laptop','Mobile','IPod','TV','HeadPhones'],'price':[50000,20000,8000,80000,4000]}
accessories = pd.DataFrame(price_dic)
accessories

         Name  price
0      Laptop  50000
1      Mobile  20000
2        IPod   8000
3          TV  80000
4  HeadPhones   4000

<a href="#idx" target="_self">Index </a>
### <span id="s3">Creating a dataframe from a numpy array</span>

In [1]:
np_data = np.array([[3.7, 2.5, 8.9], [2.0, 4.5, 3.2]])
np_data

array([[3.7, 2.5, 8.9],
       [2. , 4.5, 3.2]])

In [2]:
df_np = pd.DataFrame({'Column1':np_data[:,0],'Column2':np_data[:,2]})
df_np

   Column1  Column2
0      3.7      8.9
1      2.0      3.2

In [4]:
df_np = pd.DataFrame(np_data)
df_np

     0    1    2
0  3.7  2.5  8.9
1  2.0  4.5  3.2

#### <span style="color:red" id="t3">Task 3</span>
Create a numpy array using np.random.rand(). Upon creating align it to the dataframe.

In [24]:
# help(np.random.rand)

In [23]:
np.random.seed(42)
df_np_random = np.random.rand(50,4)
df_np_random[0:5]

array([[0.37454012, 0.95071431, 0.73199394, 0.59865848],
       [0.15601864, 0.15599452, 0.05808361, 0.86617615],
       [0.60111501, 0.70807258, 0.02058449, 0.96990985],
       [0.83244264, 0.21233911, 0.18182497, 0.18340451],
       [0.30424224, 0.52475643, 0.43194502, 0.29122914]])

In [19]:
df_np_random = pd.DataFrame(np_random)
# df_np_random
display(df_np_random.head())
print(df_np_random.shape)

          0         1         2         3
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229

(50, 4)

<a href="#idx" target="_self">Index </a>
### <span id="s4">4. Read a comma-separated values (csv) file into DataFrame.</span>

In [27]:
df_csv = pd.read_csv(r'..\datasets\heart.csv')
display(df_csv.head())
print(df_csv.shape)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

(303, 14)

In [28]:
df_csv.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [29]:
df_csv.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

#### <span style="color:red" id="t4">Task 4</span>
Read data from "Diamonds" dataset. <br />
Drop the unknown column. <br /> 
Set column "table" as the index in the dataframe. <br />

In [31]:
diamonds = pd.read_csv(r'../datasets/diamonds.csv')
diamonds

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [32]:
diamonds = diamonds.iloc[:,1:]
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [33]:
diamonds.set_index('table')

       carat        cut color clarity  depth  price     x     y     z
table
55.0    0.23      Ideal     E     SI2   61.5    326  3.95  3.98  2.43
61.0    0.21    Premium     E     SI1   59.8    326  3.89  3.84  2.31
65.0    0.23       Good     E     VS1   56.9    327  4.05  4.07  2.31
58.0    0.29    Premium     I     VS2   62.4    334  4.20  4.23  2.63
58.0    0.31       Good     J     SI2   63.3    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
57.0    0.72      Ideal     D     SI1   60.8   2757  5.75  5.76  3.50
55.0    0.72       Good     D     SI1   63.1   2757  5.69  5.75  3.61
60.0    0.70  Very Good     D     SI1   62.8   2757  5.66  5.68  3.56
58.0    0.86    Premium     H     SI2   61.0   2757  6.15  6.12  3.74
55.0    0.75      Ideal     D     SI2   62.2   2757  5.83  5.87  3.64

[53940 rows x 9 columns]

In [ ]:
base_path=r"E:\SupervisedLearning\datasets"

In [ ]:
df  = pd.read_csv(r'E:\SupervisedLearning\datasets\african_crises.csv')

In [ ]:
df.head()

In [ ]:
df['case'].unique()

In [ ]:
sns.distplot(df['case'])

In [ ]:
df.head(-5)

In [ ]:
# help(df)

In [ ]:
df.info()

In [ ]:
df.describe(include='object')

In [ ]:
df.describe()

In [ ]:
# help(df)

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.columnss

### 3 class task

In [ ]:
ramen = pd.read_csv(r'E:\SupervisedLearning\datasets\ramen-ratings.csv')

In [ ]:
ramen.head()

In [ ]:
ramen.info()

In [ ]:
ramen.describe()

In [ ]:
ramen.shape

In [ ]:
ramen.describe(include='all')