In [1]:
import pandas as pd

### Create a Datatime index containing all the weekdays days of year 2019 and assign a random number to each of them in a dataframe.

### Given Pandas series , height = [23,42,55] and weight = [71,32,48] . Create a dataframe with height and weight as column names.

In [6]:
dict={'height':[23,42,55],'weight':[71,32,48]}

In [7]:
data = pd.DataFrame(dict)
data

   height  weight
0      23      71
1      42      32
2      55      48