In the weekend , I purchased 250g of apple, 500g of sugar, 2.5 kg of rice, 2.5 litres of milk and finally 1 dozen of egg.

### 1 Can you help me frame the above purchase in the form of dictionary with commodities as keys to it

In [1]:
#considering all the items in kg and milk in litres and eggs in dozen
purchases = {"apple":0.25,"sugar":0.5,"rice":2.5,"milk":2.5,"eggs":1}

In [2]:
purchases

{'apple': 0.25, 'sugar': 0.5, 'rice': 2.5, 'milk': 2.5, 'eggs': 1}

### 2 I forgot to mention another item, 1kg of atta packet. Can you also add it ?

In [29]:
purchases["atta"] = 1
print(purchases)

{'apple': 0.25, 'sugar': 0.5, 'rice': 1, 'milk': 2.5, 'eggs': 1, 'atta': 1}

### 3 Instead of 2.5kg of rice, I bought only 1kg of rice. Can you change the corresponding value ?

In [30]:
purchases["rice"] = 1
print(purchases)

{'apple': 0.25, 'sugar': 0.5, 'rice': 1, 'milk': 2.5, 'eggs': 1, 'atta': 1}

###  4 Can you list out all these items using a loop

In [31]:
for key in purchases.keys():
    print(key+ " -->  "+str(purchases[key]))

apple -->  0.25
sugar -->  0.5
rice -->  1
milk -->  2.5
eggs -->  1
atta -->  1

### However, the cost of 1 kg apple is Rs.220, 1 kg of sugar is Rs.43, 1 Kg of rice is Rs. 45, 1 litre of milk is Rs.30 and 1 dozen of egg is Rs. 60.

### Create another dictionary for pricing.

In [6]:
prices = {"apple":220,"sugar":43,"rice":45,"milk":30,"eggs":60} # Price of Atta Not mentioned

### Thereby, prepare a bill for me of the overall cost of the total commodities purchased by using two dictionaries

In [32]:
total = 0
for key in prices.keys():
    total = total + (purchases[key]*prices[key])

print("Total prices of the commodities in Rupees ")
print(total)

Total prices of the commodities in Rupees
256.5

# Lists

In [9]:
AI_companies = ['Amazon','Facebook','HiSilicon','Google','Apple','Microsoft','SenseTime']

### Sort the list in ascending order

In [10]:
AI_companies.sort()
print("#1: Sort the list in ascending order")
print(AI_companies)

#1: Sort the list in ascending order
['Amazon', 'Apple', 'Facebook', 'Google', 'HiSilicon', 'Microsoft', 'SenseTime']

### Add multiple companies at once 'Nvidia', 'OpenAI' , 'Qualcomm' and 'Reliance' to the list

In [11]:
AI_companies.append("Nvidia")
AI_companies.extend(["OpenAI","Qualcomm","Reliance"])

In [12]:
print(AI_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'HiSilicon', 'Microsoft', 'SenseTime', 'Nvidia', 'OpenAI', 'Qualcomm', 'Reliance']

### Lower the list using List comprehension

In [33]:
ai_companies_lower = [company.lower() for company in AI_companies]

print(ai_companies_lower)

['amazon', 'facebook', 'hisilicon', 'google', 'apple', 'microsoft', 'sensetime']

### Elimiate 'Reliance' from the list

In [15]:
AI_companies.remove("Reliance")

print(AI_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'HiSilicon', 'Microsoft', 'SenseTime', 'Nvidia', 'OpenAI', 'Qualcomm']

### Extract 'Facebook', 'Google' and 'Microsoft' using a single command

In [16]:
AI_companies = ['Amazon','Facebook','HiSilicon','Google','Apple','Microsoft','SenseTime']
AI_companies[1::2]

['Facebook', 'Google', 'Microsoft']

### Questions on Tuple

### Consider the above standard price problem statement and place the prices in the form of the tuple

In [17]:
prices

{'apple': 220, 'sugar': 43, 'rice': 45, 'milk': 30, 'eggs': 60}

In [20]:
prices_tuple = tuple(prices.values())

In [21]:
prices_tuple

(220, 43, 45, 30, 60)

### Find out the min and max price among them

In [35]:
min(prices_tuple), max(prices_tuple)

(30, 220)

### Also, convert the above "AI_companies" list to a tuple.

In [23]:
AI_tuple = tuple(AI_companies)

AI_tuple

### (d)Combine two above tuples to a single tuple.

In [36]:
resultant_tuple = prices_tuple + AI_tuple

In [27]:
resultant_tuple

(220,
 43,
 45,
 30,
 60,
 'Amazon',
 'Facebook',
 'HiSilicon',
 'Google',
 'Apple',
 'Microsoft',
 'SenseTime')